/* 粗体 删除线 斜体 代码 */
.cm-strong, strong,
.cm-strikethrough, del,
.cm-em, em,
.cm-s-obsidian .cm-inline-code:not(.cm-formatting), .markdown-rendered code
{

    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    text-decoration: none;
    border: 0.1em solid;
    border-radius: 1rem;
    padding: 1px 5px 1px 5px;
    margin: 0 .2rem;
}
.cm-em, em {
    color: #FFCC66;
}
.cm-strong, strong {
    color: #FF9800;
}
.cm-s-obsidian .cm-inline-code:not(.cm-formatting), .markdown-rendered code {
    color: #C792EA;
}
.cm-strikethrough, del {
    color: #42B883;
}

/* 超链接 */
.markdown-source-view.mod-cm6 .cm-link .cm-underline {
    text-decoration: none;
}

/* 图片: 加边框 缩放 */
img {
    border: 2px solid white;/*图片加边框*/
}
img[alt*="zoom=15"] {zoom:15%;}
img[alt*="zoom=20"] {zoom:20%;}
img[alt*="zoom=25"] {zoom:25%;}
img[alt*="zoom=30"] {zoom:30%;}
img[alt*="zoom=35"] {zoom:35%;}
img[alt*="zoom=40"] {zoom:40%;}
img[alt*="zoom=45"] {zoom:45%;}
img[alt*="zoom=50"] {zoom:50%;}
img[alt*="zoom=55"] {zoom:55%;}
img[alt*="zoom=60"] {zoom:60%;}
img[alt*="zoom=65"] {zoom:65%;}
img[alt*="zoom=70"] {zoom:70%;}
img[alt*="zoom=75"] {zoom:75%;}
img[alt*="zoom=80"] {zoom:80%;}
img[alt*="zoom=85"] {zoom:85%;}

/* 标题字体颜色 */
.HyperMD-header-1,
.HyperMD-header-2,
.HyperMD-header-3,
.HyperMD-header-4,
.HyperMD-header-5,
.HyperMD-header-6 {
    color: #569CD6;
}

/* 引用块颜色 */
.cm-s-obsidian span.cm-quote {
    color: #EBEBEB99;
}